/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/backups
/storage/app/public/documents
/storage/app/public/memorandums
/storage/app/public/trip-tickets
/storage/app/public/avatars
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
.env
.env.backup
.env.production
database/database.sqlite
npm-debug.log
yarn-error.log
.DS_Store
